/* CSS files add styling rules to your content */

body {
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
  margin: 2em;
}

h1 {
  font-size: 50px;
  font-style: Perpetua;
  color: #778899;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 25px;
}
p {
  font-size: 19px;
  color: black;
}
.main {
  display: inline;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.left,.right{
  width: 46w;
  justify-content: center;
  text-align: center;
}
