/* CSS files add styling rules to your content */

body {
  font-family: 'Lora', serif;
  margin: 2em;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}
h1 {
  font-size: 50px;
  color: #87EAE3;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 25px;
}
p {
  font-size: 19px;
  color: black;
}
.main {
  display: inline;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.left,.right{
  width: 46w;
  justify-content: center;
}
.header {
  overflow: visible;
  background-color: #000000;
  padding: 20px 10px;
}
.navbar {
  margin: 0;
  padding: 20px 0 20px 0;
  list-style: none;
  text-align: right;
}
.navbar > h3 {
  display: inline-block;
  padding-right: 50px;
}
.navbar > h3 > a {
  text-decoration: none;
  color: #000000;
}
.navbar > h3 > a:hover {
  color: #C0C0C0;
}
